.Footer-container{
  height: 45px;
  background-color: #4962B3;
  text-align: center;
  margin-top: 10px;
}

.Footer-list{
  width: 100%;
  display: flex;
  list-style: none;
}
.Footer-list li{
  margin: 0 8px;
}