*{
  color: whitesmoke;
}

.gallery-hero{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #4962B3;
}

a{
  text-decoration: none;
}